li{
    list-style:none;
    border:solid 2px gray;
    width:40%;
    display:flex;
    align-items:center;
    margin:10px;
    padding:20px;
}
.name{
    font-family:"bree serif";
    font-size:14px;
    font-weight:bold;
}
.DrinkImage{
    height: 200px;
    width:200px;
    margin-right:20px;
}
.strGlass{
    font-family:"roboto";
    font-size:14px;
    font-weight:bold;
    font-style:italic;
}